<% if @product.downloads.count > 0 %>
  <h2>Product Downloads</h2>
  <p>
    <ul>
      <% @product.downloads.each do |dl| %>
        <li>
          <%= 
            link_to(
            dl.filename.split('/')[-1],
              :controller => 'store',
              :action => 'download_file',
              :params => {
                :download_id => dl.id
              }
            )
          %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>