
  <% if @products.length > 0 then %>
    <% for product in @products %>
      <tr class="<%= alternate %>">
        <%= Cache.get_or_set_int(product.id, 'admin') {  render :partial => 'list_product', :locals => {:product => product} }%>
      </tr>

    <% end %>
  <% else %>
    <tr><td colspan="4">No products to show in this view.</td></tr>
  <% end %>
