<div id="left">
  <h1><%= @title %></h1>

<%= form_tag :action => "reset_password" %>

<p>
        <label for="email_to_reset">Enter your email address associated with your account:</label>
        <%= text_field_tag 'email_to_reset', 'a@a.com', :class => 'textInput'  %>
</p>

</form>

</div>

